/* universal style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* this section defines common tags the used across index.html */
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Starting here are the styles for the header section which is at the top of the page that contains the service menu */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* this is to have the banner underneath the header section */
.header-banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Starting here is to style the main content that represent the services offered by Horiseon */
.main-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-section img {
    max-height: 200px;
}

.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.img-float-left {
    float: left;
    margin-right: 25px;
}

.img-float-right {
    float: right;
    margin-left: 25px;
}

/* Starting here is t+to style the benefits of Horiseon services which on the right of the page */
.benefits-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Starting here is to style the footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}
